In [1]:
from bs4 import BeautifulSoup
import requests
import time
import random
import re
import csv
import pandas as pd

In [2]:
from os import walk

# folder path
dir_path = r'reviews'
res = []
for (dir_path, dir_names, file_names) in walk(dir_path):
    # print(f'Adding these files: {file_names}')
    res.extend(file_names)
    # don't look inside any subdirectory
    break
print(res)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews (a).csv', 'reviews (b).csv', 'reviews (c).csv', 'reviews (d).csv', 'reviews (e).csv', 'reviews (f).csv', 'reviews (g).csv', 'reviews (h).csv', 'reviews (i).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv', 'reviewsa.csv', 'reviewsb.csv', 'reviewsc.csv', 'reviewsd.csv', 'reviewse.csv', 'reviewsf.csv', 'reviewsg.csv', 'reviewsh.csv', 'reviewsi.csv']

In [3]:
# list of the files to keep
keep = []

for name in res:
    if 'review' in name:
        keep.append(name)
print(keep)

['reviews (1).csv', 'reviews (10).csv', 'reviews (11).csv', 'reviews (12).csv', 'reviews (13).csv', 'reviews (14).csv', 'reviews (15).csv', 'reviews (16).csv', 'reviews (17).csv', 'reviews (18).csv', 'reviews (19).csv', 'reviews (20).csv', 'reviews (21).csv', 'reviews (22).csv', 'reviews (23).csv', 'reviews (24).csv', 'reviews (3).csv', 'reviews (30).csv', 'reviews (31).csv', 'reviews (32).csv', 'reviews (33).csv', 'reviews (34).csv', 'reviews (35).csv', 'reviews (36).csv', 'reviews (37).csv', 'reviews (38).csv', 'reviews (39).csv', 'reviews (4).csv', 'reviews (40).csv', 'reviews (41).csv', 'reviews (42).csv', 'reviews (43).csv', 'reviews (44).csv', 'reviews (45).csv', 'reviews (46).csv', 'reviews (47).csv', 'reviews (49).csv', 'reviews (5).csv', 'reviews (50).csv', 'reviews (51).csv', 'reviews (52).csv', 'reviews (53).csv', 'reviews (54).csv', 'reviews (55).csv', 'reviews (56).csv', 'reviews (57).csv', 'reviews (58).csv', 'reviews (59).csv', 'reviews (6).csv', 'reviews (60).csv', 'reviews (61).csv', 'reviews (7).csv', 'reviews (8).csv', 'reviews (9).csv', 'reviews (a).csv', 'reviews (b).csv', 'reviews (c).csv', 'reviews (d).csv', 'reviews (e).csv', 'reviews (f).csv', 'reviews (g).csv', 'reviews (h).csv', 'reviews (i).csv', 'reviews st.csv', 'reviews.csv', 'reviews2.csv', 'reviews3.csv', 'reviewsa.csv', 'reviewsb.csv', 'reviewsc.csv', 'reviewsd.csv', 'reviewse.csv', 'reviewsf.csv', 'reviewsg.csv', 'reviewsh.csv', 'reviewsi.csv']

In [4]:
# Confirms the list of files to pull data from
work_on = []
with open('list.csv', 'r') as csvfile:
    info = csvfile.read()
    for line in keep:
        if line in info:
            continue
        else:
            print(f'Pulling data from {line}')
            work_on.append(line)
    csvfile.close()

Pulling data from reviews (a).csv
Pulling data from reviews (b).csv
Pulling data from reviews (c).csv
Pulling data from reviews (d).csv
Pulling data from reviews (e).csv
Pulling data from reviews (f).csv
Pulling data from reviews (g).csv
Pulling data from reviews (h).csv
Pulling data from reviews (i).csv

In [5]:
# !pip install --upgrade pandas

In [6]:
li = []
with open('list.csv', 'a+', encoding='utf-8') as csvfile:
    list_writer = csv.writer(csvfile)
    dic = {}
    length = len(work_on)
    print(length)
    while length >= 1:
        for name in work_on:
            print(f'{name} is being read ..............')
            df = pd.read_csv(f'reviews/{name}', index_col=None, on_bad_lines='skip',header=None)
            li.append(df)
            dic['name'] = name
            list_writer.writerow(dic.values())
            length -= 1
        final_frame = pd.concat(li, axis=0, ignore_index=True)
        print('Gone through entire list')

9
reviews (a).csv is being read ..............
reviews (b).csv is being read ..............
reviews (c).csv is being read ..............
reviews (d).csv is being read ..............
reviews (e).csv is being read ..............
reviews (f).csv is being read ..............
reviews (g).csv is being read ..............
reviews (h).csv is being read ..............
reviews (i).csv is being read ..............
Gone through entire list

In [7]:
final_frame.head()

,0,1,2,3,4,5,6
0,Leslie S.,/user_details?userid=oZ4JQMwXsljri_7FEFm12w,"Miami Springs, FL",3/22/2023,5.0,No comment,https://www.yelp.com/biz/butler-brooklyn-2?adj...
1,Yuki C.,/user_details?userid=RpM988LdI9pph29xMradBQ,"New York, NY",3/26/2023,4.0,No comment,https://www.yelp.com/biz/butler-brooklyn-2?adj...
2,Adi M.,/user_details?userid=ymT4k1JshPA2sppWb-d31g,"Saline, MI",2/24/2023,4.0,No comment,https://www.yelp.com/biz/butler-brooklyn-2?adj...
3,Kimberly T.,/user_details?userid=aHDkI0NUbJ6EsbNC8Wm1kA,"Lincoln Park, NJ",12/18/2022,4.0,No comment,https://www.yelp.com/biz/butler-brooklyn-2?adj...
4,J M.,/user_details?userid=UBzKFUEjnr1UGNPLE2Jn_w,"San Diego, CA",1/17/2023,4.0,This location is one of four throughout NYC. T...,https://www.yelp.com/biz/butler-brooklyn-2?adj...

In [8]:
# remove duplicates
final_frame = final_frame.drop_duplicates()

# check duplicates
print(f'The num of duplicates are: {final_frame.duplicated().sum()} duplicates')

The num of duplicates are: 0 duplicates

In [9]:
# columns having null values
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22498 entries, 0 to 25999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       22498 non-null  object
 1   1       22498 non-null  object
 2   2       22498 non-null  object
 3   3       22498 non-null  object
 4   4       22498 non-null  float64
 5   5       22498 non-null  object
 6   6       22488 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.4+ MB

In [10]:
final_frame = final_frame.dropna(axis=0)
final_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22488 entries, 0 to 25999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       22488 non-null  object
 1   1       22488 non-null  object
 2   2       22488 non-null  object
 3   3       22488 non-null  object
 4   4       22488 non-null  float64
 5   5       22488 non-null  object
 6   6       22488 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.4+ MB

In [11]:
# check the percentage of restaurants done in the final csv

restaurants = pd.read_csv('restaurant_data.csv')

rest_df = restaurants.drop_duplicates(subset=['URL'])
rest_df.head()

,Name,Rating,Pricing,URL,Latitude,Longitude,Transactions,Location,Phone,Display Phone,Distance,Reviews,Review Count,Cuisine,Restaurant ID,Number of Reviews
0,Da Andrea,4,$$,https://www.yelp.com/biz/da-andrea-new-york?ad...,40.736218,-73.995970,"['delivery', 'pickup', 'restaurant_reservation']","35 W 13th St, New York, NY 10011",1.212367e+10,(212) 367-1979,3526.365252,[{'text': 'This small and crowded place seems ...,3,"I, t, a, l, i, a, n",hdiuRS9sVZSMReZm4oV5SA,1851
1,LoveMama,5,$$,https://www.yelp.com/biz/lovemama-new-york?adj...,40.730409,-73.986127,"['delivery', 'pickup', 'restaurant_reservation']","174 2nd Ave, New York, NY 10003",1.212255e+10,(212) 254-5370,2645.074283,[{'text': 'Absolutely LOVED LoveMama!! As a co...,3,"T, h, a, i",jjJc_CrkB2HodEinB6cWww,6377
2,Ye's Apothecary,5,$$$,https://www.yelp.com/biz/yes-apothecary-new-yo...,40.719450,-73.989800,[],"119 Orchard St, New York, NY 10002",NaN,NaN,1638.756115,[{'text': 'Edy and Josh are the BEST bartender...,3,"S, z, e, c, h, u, a, n",8YWLuLUKj0t_0_Xv06UUtw,212
3,Joe's Shanghai,4,$$,https://www.yelp.com/biz/joes-shanghai-new-yor...,40.715661,-73.996701,"['delivery', 'pickup']","46 Bowery St, New York, NY 10013",1.212234e+10,(212) 233-8888,1766.176007,[{'text': 'This is the third stop of our food ...,3,"S, h, a, n, g, h, a, i, n, e, s, e",0CjK3esfpFcxIopebzjFxA,7098
4,Antidote,4,$$,https://www.yelp.com/biz/antidote-brooklyn-2?a...,40.714253,-73.965448,"['delivery', 'pickup']","66 S 2nd St, Brooklyn, NY 11249",1.718782e+10,(718) 782-2585,1376.494330,[{'text': 'Excellent service & food! The drink...,3,"C, o, c, k, t, a, i, l, , B, a, r, s",4DInnPhOyvXFbYpUdO0SMQ,325

In [12]:
# get the set of available restaurants
got_rest = set(final_frame[6])

list_rest = set(rest_df['URL'])

In [13]:
# What restaurants do we have
missing_urls = []
for url in list_rest:
    if url in got_rest:
        num = len(final_frame[final_frame[6] == url])
        expected = rest_df[rest_df['URL'] == url]
        # print(expected['Number of Reviews'])
        eventual = float(num/expected['Number of Reviews']) *100
        if eventual >= 90.0:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print('WITHIN COMPLETED EXPECTATION')
        else:
            print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
            print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
            missing_urls.append(url)
    else:
        expected = rest_df[rest_df['URL'] == url]
        num = 0
        eventual = (num/expected['Number of Reviews']) *100
        # print(f"We have {expected['Name']} and have about ....... {eventual}% of expected collection")
        # print(f"{expected['Name']} NEEDS MORE COLLECTION PLEASE")
        missing_urls.append(url)

        
print('Done with list of content')

We have 152    LĒNA
Name: Name, dtype: object and have about ....... 82.4074074074074% of expected collection
152    LĒNA
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 280    French Louie
Name: Name, dtype: object and have about ....... 91.0480349344978% of expected collection
WITHIN COMPLETED EXPECTATION
We have 232    El Mate
Name: Name, dtype: object and have about ....... 82.38636363636364% of expected collection
232    El Mate
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 412    Senshi Ramen
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 359    Somtum Der Redhook
Name: Name, dtype: object and have about ....... 101.3157894736842% of expected collection
WITHIN COMPLETED EXPECTATION
We have 79    The Grotto
Name: Name, dtype: object and have about ....... 104.16666666666667% of expected collection
WITHIN COMPLETED EXPECTATION
We have 42    Momofuku Ssam Bar
Name: Name, dtype: object and have about ....... 92.7927927927928% of expected collection
WITHIN COMPLETED EXPECTATION
We have 50    SPES
Name: Name, dtype: object and have about ....... 106.4516129032258% of expected collection
WITHIN COMPLETED EXPECTATION
We have 212    NARO
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 411    Kings of Kobe
Name: Name, dtype: object and have about ....... 89.73105134474328% of expected collection
411    Kings of Kobe
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 64    Ingas Bar
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 203    Prime Meat Rokko
Name: Name, dtype: object and have about ....... 92.37668161434978% of expected collection
WITHIN COMPLETED EXPECTATION
We have 335    no. 7
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 239    Macao Trading Company
Name: Name, dtype: object and have about ....... 87.32227488151659% of expected collection
239    Macao Trading Company
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 277    3 Times
Name: Name, dtype: object and have about ....... 79.06976744186046% of expected collection
277    3 Times
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 62    Kopitiam
Name: Name, dtype: object and have about ....... 87.88853161843515% of expected collection
62    Kopitiam
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 20    Ichibantei
Name: Name, dtype: object and have about ....... 89.39929328621908% of expected collection
20    Ichibantei
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 315    Bobwhite Counter
Name: Name, dtype: object and have about ....... 72.9517396184063% of expected collection
315    Bobwhite Counter
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 492    San Marino Ristorante
Name: Name, dtype: object and have about ....... 95.1219512195122% of expected collection
WITHIN COMPLETED EXPECTATION
We have 374    La Chilaquería - New York
Name: Name, dtype: object and have about ....... 104.76190476190477% of expected collection
WITHIN COMPLETED EXPECTATION
We have 204    WarrenPeace
Name: Name, dtype: object and have about ....... 93.75% of expected collection
WITHIN COMPLETED EXPECTATION
We have 211    Aragvi
Name: Name, dtype: object and have about ....... 107.6923076923077% of expected collection
WITHIN COMPLETED EXPECTATION
We have 376    Fine & Rare
Name: Name, dtype: object and have about ....... 96.36363636363636% of expected collection
WITHIN COMPLETED EXPECTATION
We have 138    Bacàn
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 82    Butler
Name: Name, dtype: object and have about ....... 82.5136612021858% of expected collection
82    Butler
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 113    El Pingüino
Name: Name, dtype: object and have about ....... 113.63636363636364% of expected collection
WITHIN COMPLETED EXPECTATION
We have 493    Naked Tomato
Name: Name, dtype: object and have about ....... 104.8780487804878% of expected collection
WITHIN COMPLETED EXPECTATION
We have 176    Emily - West Village
Name: Name, dtype: object and have about ....... 85.79059829059828% of expected collection
176    Emily - West Village
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 224    12 Chairs Cafe
Name: Name, dtype: object and have about ....... 27.522935779816514% of expected collection
224    12 Chairs Cafe
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 5    Raku
Name: Name, dtype: object and have about ....... 92.18436873747495% of expected collection
WITHIN COMPLETED EXPECTATION
We have 47    Atti
Name: Name, dtype: object and have about ....... 104.54545454545455% of expected collection
WITHIN COMPLETED EXPECTATION
We have 498    Pier 66 Maritime
Name: Name, dtype: object and have about ....... 82.53968253968253% of expected collection
498    Pier 66 Maritime
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 308    Bar Camillo
Name: Name, dtype: object and have about ....... 78.72340425531915% of expected collection
308    Bar Camillo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 270    Ro’s Diner
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 289    Aldama
Name: Name, dtype: object and have about ....... 97.14285714285714% of expected collection
WITHIN COMPLETED EXPECTATION
We have 303    K'OOK
Name: Name, dtype: object and have about ....... 88.32997987927565% of expected collection
303    K'OOK
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 436    Zest Ramen
Name: Name, dtype: object and have about ....... 81.76100628930818% of expected collection
436    Zest Ramen
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 427    NOMO Kitchen
Name: Name, dtype: object and have about ....... 84.58390177353343% of expected collection
427    NOMO Kitchen
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 419    La Nonna Ristorante & Bar
Name: Name, dtype: object and have about ....... 91.30434782608695% of expected collection
WITHIN COMPLETED EXPECTATION
We have 119    Les Enfants de Boheme
Name: Name, dtype: object and have about ....... 93.93939393939394% of expected collection
WITHIN COMPLETED EXPECTATION
We have 342    Suram NYC
Name: Name, dtype: object and have about ....... 125.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 369    Taiwanese Yummy
Name: Name, dtype: object and have about ....... 133.33333333333331% of expected collection
WITHIN COMPLETED EXPECTATION
We have 267    Two Hands
Name: Name, dtype: object and have about ....... 76.92307692307693% of expected collection
267    Two Hands
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 2    Ye's Apothecary
Name: Name, dtype: object and have about ....... 103.77358490566037% of expected collection
WITHIN COMPLETED EXPECTATION
We have 284    Mesiba
Name: Name, dtype: object and have about ....... 160.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 94    Hak Box
Name: Name, dtype: object and have about ....... 90.0990099009901% of expected collection
WITHIN COMPLETED EXPECTATION
We have 177    Bonnie's
Name: Name, dtype: object and have about ....... 91.66666666666666% of expected collection
WITHIN COMPLETED EXPECTATION
We have 426    5ive Spice
Name: Name, dtype: object and have about ....... 125.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 201    Yakitori Totto
Name: Name, dtype: object and have about ....... 86.83473389355743% of expected collection
201    Yakitori Totto
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 80    Jajaja Mexicana
Name: Name, dtype: object and have about ....... 88.54166666666666% of expected collection
80    Jajaja Mexicana
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 132    Kalye Bistro
Name: Name, dtype: object and have about ....... 103.44827586206897% of expected collection
WITHIN COMPLETED EXPECTATION

We have 210    Dim Sum Palace
Name: Name, dtype: object and have about ....... 85.51532033426183% of expected collection
210    Dim Sum Palace
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 44    Frangos Peri Peri
Name: Name, dtype: object and have about ....... 92.85714285714286% of expected collection
WITHIN COMPLETED EXPECTATION
We have 338    Olly Olly Market
Name: Name, dtype: object and have about ....... 100.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 444    Church Of Sweden
Name: Name, dtype: object and have about ....... 83.33333333333334% of expected collection
444    Church Of Sweden
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 65    Salt + Charcoal
Name: Name, dtype: object and have about ....... 88.52691218130312% of expected collection
65    Salt + Charcoal
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 4    Antidote
Name: Name, dtype: object and have about ....... 92.3076923076923% of expected collection
WITHIN COMPLETED EXPECTATION
We have 197    Boots & Bones
Name: Name, dtype: object and have about ....... 200.0% of expected collection
WITHIN COMPLETED EXPECTATION
We have 182    Cool World
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 170    Gersi
Name: Name, dtype: object and have about ....... 86.1671469740634% of expected collection
170    Gersi
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 461    Los Tacos No.1
Name: Name, dtype: object and have about ....... 87.96540052651373% of expected collection
461    Los Tacos No.1
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 6    Time Out Market New York
Name: Name, dtype: object and have about ....... 81.25% of expected collection
6    Time Out Market New York
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 487    Oxalis
Name: Name, dtype: object and have about ....... 91.30434782608695% of expected collection
WITHIN COMPLETED EXPECTATION
We have 276    Manousheh - Bleecker
Name: Name, dtype: object and have about ....... 9.861932938856016% of expected collection
276    Manousheh - Bleecker
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 174    Katz's Delicatessen
Name: Name, dtype: object and have about ....... 1.8223542116630669% of expected collection
174    Katz's Delicatessen
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 208    Luke's Lobster Brooklyn Bridge Park
Name: Name, dtype: object and have about ....... 80.05115089514067% of expected collection
208    Luke's Lobster Brooklyn Bridge Park
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 141    Momoya SoHo
Name: Name, dtype: object and have about ....... 88.14814814814815% of expected collection
141    Momoya SoHo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 236    City Vineyard
Name: Name, dtype: object and have about ....... 90.58927000879507% of expected collection
WITHIN COMPLETED EXPECTATION
We have 63    Mom's Kitchen & Bar
Name: Name, dtype: object and have about ....... 53.04878048780488% of expected collection
63    Mom's Kitchen & Bar
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 213    Leroy's
Name: Name, dtype: object and have about ....... 104.76190476190477% of expected collection
WITHIN COMPLETED EXPECTATION
We have 264    NAYA - Brooklyn Commons
Name: Name, dtype: object and have about ....... 107.14285714285714% of expected collection
WITHIN COMPLETED EXPECTATION
We have 494    Bowery Road
Name: Name, dtype: object and have about ....... 92.06349206349206% of expected collection
WITHIN COMPLETED EXPECTATION
We have 348    Olmsted
Name: Name, dtype: object and have about ....... 84.81012658227847% of expected collection
348    Olmsted
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 440    Bar Crudo
Name: Name, dtype: object and have about ....... 55.55555555555556% of expected collection
440    Bar Crudo
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 151    Izakaya Juraku
Name: Name, dtype: object and have about ....... 79.58115183246073% of expected collection
151    Izakaya Juraku
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 30    Aurora
Name: Name, dtype: object and have about ....... 87.48435544430538% of expected collection
30    Aurora
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 489    Dim Sum Palace
Name: Name, dtype: object and have about ....... 111.11111111111111% of expected collection
WITHIN COMPLETED EXPECTATION
We have 122    Red Feather
Name: Name, dtype: object and have about ....... 69.76744186046511% of expected collection
122    Red Feather
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
We have 125    Shanghai 21
Name: Name, dtype: object and have about ....... 87.74560496380558% of expected collection
125    Shanghai 21
Name: Name, dtype: object NEEDS MORE COLLECTION PLEASE
Done with list of content

In [14]:
len(missing_urls)

392

In [15]:
with open('final_revs.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for index, row in final_frame.iterrows():
            dic = {}
        
            # Assign the user values to the dictionary
            dic['username'] = row[0]
            dic['account'] = row[1]
            dic['location'] = row[2]
            dic['date'] = row[3]
            dic['rating'] = row[4]
            dic['comments'] = row[5]
            dic['restaurant'] = row[6]

            # write this info to the local csv
            review_writer.writerow(dic.values())
print('Done')

Done

In [16]:
try:
    missing_url_df = pd.read_csv('missing_urls.csv', header=None)
except pd.errors.EmptyDataError:
    found_missing_urls = list(['File is empty'])
else:
    found_missing_urls = list(missing_url_df)


found_missing_urls

[0]

In [17]:
# Dealing with missing urls
with open('missing_urls.csv', 'a+', encoding='utf-8') as csvfile:
        review_writer = csv.writer(csvfile)
        for url in missing_urls:
            dic = {}
            # print(url)
        
            if url in found_missing_urls:
                continue
            else:
                # Assign the user values to the dictionary
                dic['url'] = url

                # write this info to the local csv
                review_writer.writerow(dic.values())
print('Done')

Done

In [18]:
data = pd.read_csv('final_revs.csv')

In [19]:
data.shape

(188714, 7)